.create-body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#main-section {
  width: 80%;
}

#form-new-post {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#form-new-post > input[name="title"] {
  font-size: 30px;
}

#form-quiz {
  display: flex;
  flex-direction: column;
}

#form-quiz-elem {
  display: flex;
  flex-direction: column;
}

.create-textarea {
  padding: 8px 12px;
  resize: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
