.post-list {
  padding: 16px;
}

.post-item {
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 16px;
}

.post-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
