<!DOCTYPE html>
<h1>로그인 페이지</h1>
<br>
{% if user.is_authenticated %}
    {{ user.username }}님 환영합니다.
    <a href="{% url 'account:signout' %}">로그아웃</a>
{% else %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="username">사용자 이름</label>
    <input name="username" id="username" type="text">

    <label for="password">비밀번호</label>
    <input name="password" id="password" type="password">

    <button class="btn btn-primary" type="submit">로그인</button>
</form>
<a href="{% url 'account:signup' %}">회원가입</a>
{% endif %}